


<form asp-action="Create" method="post">
    <div class="form-group">





        <label for="Name"></label>
        <input name="Name" id="name" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
</form>