@using Authorization.Models

@model IEnumerable<AppUser>

<table class="table table-sm table-bordered">
    <tr>
    
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <a  class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edite

                    </a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }

</table>